
/* BODY */

body {
  font-family: Arial;
  text-align: center;
  background-color: whitesmoke;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("images/beach.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  margin: 0;
  padding-top: 30px;
  box-sizing: border-box;
}


/* STUDY BOX */

#box {
  width: 300px;
  height: 200px;
  margin: 40px auto;
  background-color: lightblue;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
}


/* TEXT */

#title {
  padding-top: 50px;
  font-size: 28px;
  font-family: "Comic Sans MS", cursive;
color: darkblue;
}

#emoji {
  font-size: 40px;
}


/* BUTTONS */

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border-radius: 10px;
background-color: lightyellow;
cursor: pointer;
}


/* RESULTS */

#result {
  font-size: 20px;
}

#windowSize {
  margin-top: 30px;
}
/* BUTTON HOVER */

button:hover {
  background-color: lightpink;
}